################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMPG323-Project-3-37460366I/FileContentIndex
/Nwu_Tech_Trends_TelemetryPortal_MVC/.vs/Nwu_Tech_Trends_TelemetryPortal_MVC/FileContentIndex
/Nwu_Tech_Trends_TelemetryPortal_MVC/.vs/TelemetryPortal_MVC/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/Nwu_Tech_Trends_TelemetryPortal_MVC/.vs/TelemetryPortal_MVC/DesignTimeBuild/.dtbcache.v2
/Nwu_Tech_Trends_TelemetryPortal_MVC/TelemetryPortal_MVC/appsettings.json
