################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CMPG323-Project-3-37460366/FileContentIndex
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/NWU_Tech_Trends_TelemetryPortal_MVC/.vs/TelemetryPortal_MVC/FileContentIndex
/NWU_Tech_Trends_TelemetryPortal_MVC/TelemetryPortal_MVC/appsettings.json
